body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 100px;
  background-image: url('/src/assets/shoes-background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a.navbar-brand {
  font-size: 35px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: rgb(179, 230, 143);
}

.container-fluid {
  background-color: rgb(179, 230, 143);
}

body {
  background-color: rgb(199, 186, 210);
}

.prodForm {
  background-color: rgb(121, 170, 170);
  padding-top: 15px;
  padding-bottom: 15px;
}